:root {
  --light-primary-color: #00326c;
  --middle-primary-color: #002950;
  --dark-primary-color: #00183a;
  --hover-primary-color: #497ebb;
  --linear-right-color: linear-gradient(to right, #002856, #003b7e);
  --linear-top-color: linear-gradient(to top, #002856, #003b7e);
  --linear-bottom-color: linear-gradient(to bottom, #002856, #003b7e);
  --linear-bg-color: linear-gradient(to bottom, #002e59, #00172e);
  --gray-color: #828282;
  --lightgray-color: #fafafa;
  --white-color: #ffffff;
  --black-color: #00183a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--dark-color);
  font-family: "Noto Serif JP", serif;
  color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
}

img {
  width: 100%;
  max-width: 100%;
  margin: auto;
  object-fit: cover;
}

input[type="text"] {
  width: 100%;
  height: 44px;
  background-color: var(--lightgray-color);
  border: 1px solid #bdbdbd;
  font-size: 20px;
  padding: 8px 10px;
}

input:focus {
  outline: 0;
}
/* The container */
.checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 12px;
}

/* On mouse-over, add a grey background color */
.checkbox-wrapper:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-wrapper input:checked ~ .checkmark {
  background-color: var(--light-primary-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-wrapper input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-wrapper .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

hr {
  margin: 0;
}

hr.dark {
  border: 1px solid var(--white-color);
}

hr.gray {
  border: 1px solid #ffffff15;
}

hr.light {
  border: 1px solid #e0e0e0;
}

hr.semi-primary {
  max-width: 960px;
  margin: 0 auto;
  border: 1px solid var(--hover-primary-color);
}

.pc-only {
  display: block;
}

@media (max-width: 768px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}

@media (max-width: 768px) {
  .sp-only {
    display: block;
  }
}

.mt-6 {
  margin-top: 24px;
}

.container {
  max-width: 960px;
  margin: auto;
}

@media (max-width: 960px) {
  .container {
    padding: 0 16px;
  }
}

.container-lg {
  max-width: 1120px;
  margin: auto;
  padding: 0 32px;
}

@media (max-width: 768px) {
  .container-lg {
    padding: 0 16px;
  }
}

.menu-txt {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .menu-txt {
    font-size: 24px;
    line-height: 24px;
  }
}

.main-visual-txt {
  font-size: 40px;
  line-height: 32px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .main-visual-txt {
    font-size: 24px;
    line-height: 40px;
  }
}

.section-title-en {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 5%;
  font-weight: 400;
  color: var(--hover-primary-color);
  text-align: center;
}

@media (max-width: 768px) {
  .section-title-en {
    font-size: 20px;
  }
}

.section-title-jp {
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: 10%;
  text-align: center;
}

@media (max-width: 768px) {
  .section-title-jp {
    font-size: 32px;
  }
}

.big-title {
  font-size: 56px;
  line-height: 56px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .big-title {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -5%;
  }
}

.section-content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .section-content {
    font-size: 16px;
    line-height: 24px;
  }
}

.section-desc {
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 768px) {
  .section-desc {
    line-height: 30px;
    letter-spacing: -5%;
  }
}

.subsection-title {
  font-size: 40px;
  line-height: 56px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .subsection-title {
    font-size: 32px;
    line-height: auto;
  }
}

.mini-sub-secTit {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--hover-primary-color);
  position: relative;
  margin-bottom: 12px;
}

.mini-sub-secTit::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 32px;
  height: 1px;
  background-color: var(--hover-primary-color);
}

@media (max-width: 768px) {
  .mini-sub-secTit {
    line-height: auto;
  }
}

.mini-sub-content {
  font-size: 16px;
  line-height: auto;
  font-weight: 500;
}

.contact-txt {
  font-size: 20px;
  line-height: auto;
  font-weight: 500;
}

.copyright {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  font-family: "Oswald", sans-serif;
}

.btn-primary {
  width: 104px;
  height: 32px;
  border-radius: 16px;
  background-image: var(--linear-right-color);
  color: var(--white-color);
  font-size: 16px;
  line-height: auto;
  font-weight: 500;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn-primary:hover {
  background-image: none;
  background-color: var(--hover-primary-color);
}

.btn-white {
  width: 88px;
  height: 32px;
  border-radius: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  background-color: var(--white-color);
  color: #1c1c1c;
  cursor: pointer;
}

.btn-transparent {
  width: 88px;
  height: 32px;
  border-radius: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  background-color: transparent;
  color: #ffffff50;
  border: 1px solid #ffffff50;
  cursor: pointer;
}

.btn-more {
  width: 103px;
  height: 32px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  border-top: 0;
  cursor: pointer;
}

.btn-required {
  width: 70px;
  height: 29px;
  background-color: #828282;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  line-height: auto;
  font-weight: 600;
}

.tag {
  width: 77px;
  height: 28px;
  color: var(--white-color);
}

.tag.brown {
  background-color: #8c7549;
}

.tag.purple {
  background-color: #595dae;
}

/* Hamburger Start*/
.hamburger-btn {
  display: none;
}
@media (max-width: 768px) {
  .hamburger-btn {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 4px;
  background-color: var(--hover-primary-color);
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}
/* Hamburger End*/

/* header */
header {
  background-image: var(--linear-right-color);
}

header nav {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logo {
  width: 240px;
  height: 40px;
}

header nav .nav-links {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 768px) {
  header nav .nav-links {
    position: absolute;
    top: 96px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: var(--linear-top-color);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  header nav .nav-links.active {
    max-height: 100vh;
    opacity: 1;
    padding: 56px 48px;
  }
}

header nav .nav-links > li {
  display: inline-block;
  position: relative;
}

header nav .nav-links > li:nth-child(odd) {
  padding: 0 5px;
}

header nav .nav-links > li:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

header nav .nav-links > li::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  background: #ffffff70;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}

@media (max-width: 768px) {
  header nav .nav-links > li {
    display: block;
  }
  header nav .nav-links > li:nth-child(even) {
    display: none;
  }
}

/* main */
.hero-sec {
  height: calc(100vh - 96px);
  background: var(--light-primary-color) url("/assets/imgs/hero-img.png")
    no-repeat center center / cover;
}

@media (max-width: 768px) {
  .hero-sec {
    background: var(--light-primary-color) url("/assets/imgs/hero-img-sp.png")
      no-repeat center center / cover;
  }
}

.hero-sec > div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.hero-sec > div.container > h1 {
  padding-bottom: 65px;
}

.section-linear-group {
  background-image: var(--linear-bottom-color);
}

.message-sec {
  padding: 32px 0;
}

.message-title-subsec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.message-title-subsec .sec-title-divider {
  width: 49px;
  height: 1px;
  background-color: var(--hover-primary-color);
}

.message-sec .img-wrapper {
  margin: 34px auto 47px;
  display: flex;
  justify-content: center;
}

.message-sec .img-wrapper img {
  max-width: 960px;
  margin: auto;
}

@media (max-width: 768px) {
  .message-sec > div.container > img {
    width: 100vw;
  }
}

.message-sec .message-content-subsec {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

@media (max-width: 768px) {
  .message-sec .message-content-subsec {
    padding: 0 16px;
  }
}

.message-sec .message-content-subsec > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

@media (max-width: 768px) {
  .message-sec .message-content-subsec > div {
    flex-direction: column-reverse;
  }
}

.message-sec .message-content-subsec > div > h5 {
  text-align: right;
}

@media (max-width: 768px) {
  .message-sec .message-content-subsec > div > h5 {
    text-align: left;
  }
}

.solution-sec {
  padding: 32px 0 54px;
}

@media (max-width: 768px) {
  .solution-sec {
    padding: 32px 0 64px;
  }
}

.solution-sec > div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.solution-sec > div.container .solution-title-subsec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .solution-sec > div.container .solution-title-subsec {
    gap: 32px;
  }
}

.solution-diagram div.sp-only {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.solution-diagram div.sp-only img:nth-of-type(2) {
  width: 44px;
}

.service-sec {
  padding-bottom: 64px;
}

.service-sec > div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

@media (max-width: 768px) {
  .service-sec > div.container {
    gap: 40px;
  }
}

.service-sec > div.container > div:not(:first-of-type) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@media (max-width: 768px) {
  .service-sec > div.container > div:not(:first-of-type) {
    gap: 64px;
    width: 100%;
  }
  .service-sec .service-subsec {
    width: 100%;
  }
}

.service-sec .service-subsec > div:has(.subsection-title) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.service-sec .service-subsec > div:has(.subsection-title) h3 {
  white-space: nowrap;
}

.service-sec .service-subsec > div:has(.subsection-title) span {
  width: 100%;
  height: 1px;
  background-color: var(--white-color);
}

@media (max-width: 768px) {
  .service-sec .service-subsec > div:has(.subsection-title) span {
    display: none;
  }
}

.service-sec .service-subsec .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  margin: 40px 0 53px;
}

@media (max-width: 768px) {
  .service-sec .service-subsec .row {
    display: block;
    margin: 24px 0;
  }
  .service-sec .service-subsec .row .col:last-of-type {
    margin-top: 24px;
  }
}

.service-sec .service-subsec:nth-of-type(odd) .row {
  flex-direction: row;
}

.service-sec .service-subsec:nth-of-type(even) .row {
  flex-direction: row-reverse;
}

.service-sec .service-subsec .row .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 27px;
}

@media (max-width: 768px) {
  .service-sec .service-subsec .row .col {
    gap: 24px;
  }
}

.service-sec .service-subsec .row .col h4 + p,
.service-sec .service-subsec .row .col h4 + div {
  padding-top: 12px;
}

.service-sec .service-subsec .row .col:first-of-type {
  width: calc(100% - 400px);
}

@media (max-width: 768px) {
  .service-sec .service-subsec .row .col:first-of-type {
    width: 100%;
  }
}

.service-sec .service-subsec .row .col:last-of-type {
  width: 400px;
}

@media (max-width: 768px) {
  .service-sec .service-subsec .row .col:last-of-type {
    width: 100%;
  }
}

.service-sec .service-subsec .row .col:last-of-type {
  height: 100%;
  object-fit: cover;
}

.service-sec .service-subsec .row .col:first-of-type .sub-row-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.service-sec .service-subsec .row .col:first-of-type .sub-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

@media (max-width: 768px) {
  .service-sec .service-subsec .row .col:first-of-type .sub-row {
    display: block;
  }
}

.service-sec .service-subsec .row .col:first-of-type .sub-row p:first-of-type {
  width: 100px;
}

@media (max-width: 768px) {
  .service-sec
    .service-subsec
    .row
    .col:first-of-type
    .sub-row
    p:first-of-type {
    width: 100%;
  }
}

.service-sec .service-subsec .row .col:first-of-type .sub-row p:last-of-type {
  width: calc(100% - 100px);
}

@media (max-width: 768px) {
  .service-sec .service-subsec .row .col:first-of-type .sub-row p:last-of-type {
    width: 100%;
  }
}

.section-dark-group {
  background-image: var(--linear-bg-color);
  padding: 72px 0 98px;
}

.company-sec div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company-sec .company-info {
  width: 100%;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .company-sec .company-info {
    margin-top: 40px;
  }
}

.company-sec .company-info .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 24px 0;
}

@media (max-width: 768px) {
  .company-sec .company-info .row {
    flex-direction: column;
    gap: 8px;
    padding: 8px 0;
  }
}

.company-sec .company-info .row p:first-of-type {
  width: 120px;
}

@media (max-width: 768px) {
  .company-sec .company-info .row p:first-of-type {
    width: 100%;
  }
}

.company-sec .company-info .row p:last-of-type {
  width: calc(100% - 120px);
}

@media (max-width: 768px) {
  .company-sec .company-info .row p:last-of-type {
    width: 100%;
  }
}

.company-sec .company-info div.map {
  margin-bottom: 24px;
}

.company-sec .company-info div.map iframe {
  width: 100%;
  height: 310px;
}

@media (max-width: 768px) {
  .company-sec .company-info div.map iframe {
    height: 240px;
  }
}

.information-sec {
  margin-top: 48px;
}

.information-sec .message-title-subsec {
  margin-bottom: 34px;
}

.information-sec .tag-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 16px 0;
}

.information-sec .row-group {
  padding-top: 42px;
}

@media (max-width: 768px) {
  .information-sec .row-group {
    padding-top: 32px;
  }
}

.information-sec .row-group .row {
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

@media (max-width: 768px) {
  .information-sec .row-group .row {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

.information-sec .row-group .row .sub-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.information-sec > div.container > div:has(.btn-more) {
  margin: auto;
  text-align: center;
}

.contact-sec {
  color: #1c1c1c;
  padding: 64px 150px;
  background-color: #f2f2f2;
}

@media (max-width: 768px) {
  .contact-sec {
    padding: 64px 0;
  }
}

.contact-sec .section-title-jp {
  color: var(--light-primary-color);
}

.contact-sec form {
  padding: 62px 82px 40px 82px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 8px;
  margin-top: 64px;
}

@media (max-width: 768px) {
  .contact-sec form {
    padding: 16px 16px 32px;
    margin-top: 26px;
  }
}

.contact-sec form hr {
  margin: 40px 0;
}

@media (max-width: 768px) {
  .contact-sec form hr {
    margin: 24px 0;
  }
}

.contact-sec form hr:first-of-type {
  margin-top: 55px;
}

@media (max-width: 768px) {
  .contact-sec form hr:first-of-type {
    margin-top: 47px;
  }
}

.contact-sec form hr:last-of-type {
  margin-bottom: 52px;
}

@media (max-width: 768px) {
  .contact-sec form hr:last-of-type {
    margin-bottom: 32px;
  }
}

.contact-sec form .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .contact-sec form .row {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
}

.contact-sec form .row:has(.privacy) {
  align-items: flex-start;
}

.contact-sec form .row:has(.privacy) > div:has(.privacy) > div:has(.privacy) {
  background-color: #fafafa;
  border: 1px solid #bdbdbd;
  padding: 8px;
}
.contact-sec form .row:has(.privacy) .privacy {
  height: 200px;
  overflow-y: scroll;
}

.contact-sec form .row .sub-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.contact-sec form .row .sub-row > p {
  width: 200px;
}

@media (max-width: 768px) {
  .contact-sec form .row .sub-row > p {
    width: auto;
  }
}

.contact-sec form .row > div:not(.sub-row) {
  width: 460px;
}

@media (max-width: 768px) {
  .contact-sec form .row > div:not(.sub-row) {
    width: 100%;
  }
}

.contact-sec form .row .input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

@media (max-width: 768px) {
  .contact-sec form .row .input-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

.contact-sec form .row .input-row .input-subrow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.contact-sec form .row .input-row .input-subrow label {
  width: 40px;
  white-space: nowrap;
  text-align: right;
}

@media (max-width: 768px) {
  .contact-sec form .row .input-row .input-subrow label {
    text-align: left;
  }
}

.contact-sec form .row .input-row .input-subrow label + input {
  width: calc(100% - 40px);
}

.contact-sec form .row div:has(.danger) {
  position: relative;
}

.contact-sec form .row:has(.danger) {
  margin-bottom: 23px;
}

@media (max-width: 768px) {
  .contact-sec form .row:has(.danger) {
    margin-bottom: 48px;
  }
}

.contact-sec form .row div:has(.danger) .danger {
  position: absolute;
  bottom: -30px;
}

@media (max-width: 768px) {
  .contact-sec form .row div:has(.danger) .danger {
    bottom: -40px;
  }
}

.contact-sec form .row .checkbox-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 27px;
}

.contact-sec form > div:has(.btn-primary) {
  width: 100%;
  text-align: center;
}

footer {
  background-color: #828282;
  padding: 20px 0;
  text-align: center;
}
