:root {
  --light-primary-color: #00326c;
  --middle-primary-color: #002950;
  --dark-primary-color: #00183a;
  --hover-primary-color: #497ebb;
  --linear-right-color: linear-gradient(to right, #002856, #003b7e);
  --linear-top-color: linear-gradient(to top, #002856, #003b7e);
  --gray-color: #828282;
  --lightgray-color: #fafafa;
  --white-color: #ffffff;
  --black-color: #00183a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--dark-color);
  font-family: "Noto Serif JP", serif;
  color: var(--white-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
}

img {
  max-width: 100%;
  margin: auto;
  object-fit: cover;
}

input:focus {
  outline: 0;
}

hr.dark {
  border: 1px solid var(--white-color);
}

hr.light {
  border: 1px solid #e0e0e0;
}

.pc-only {
  display: block;
}

@media (max-width: 768px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}

@media (max-width: 768px) {
  .sp-only {
    display: block;
  }
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 0 32px;
}

@media (max-width: 960px) {
  .container {
    padding: 0 16px;
  }
}

.container-lg {
  max-width: 1120px;
  margin: auto;
  padding: 0 32px;
}

@media (max-width: 768px) {
  .container-lg {
    padding: 0 16px;
  }
}

.menu-txt {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .menu-txt {
    font-size: 24px;
    line-height: 24px;
  }
}

.main-visual-txt {
  font-size: 40px;
  line-height: 32px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .main-visual-txt {
    font-size: 24px;
    line-height: 40px;
  }
}

.section-title-en {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 5%;
  font-weight: 400;
  color: var(--hover-primary-color);
}

@media (max-width: 768px) {
  .section-title-en {
    font-size: 20px;
  }
}

.section-title-jp {
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: 10%;
}

@media (max-width: 768px) {
  .section-title-jp {
    font-size: 32px;
  }
}

.big-title {
  font-size: 56px;
  line-height: 56px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .big-title {
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -5%;
  }
}

.section-content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .section-content {
    font-size: 16px;
    line-height: 24px;
  }
}

.section-desc {
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .section-desc {
    line-height: 30px;
    letter-spacing: -5%;
  }
}

.subsection-title {
  font-size: 40px;
  line-height: 56px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .subsection-title {
    font-size: 32px;
    line-height: auto;
  }
}

.mini-sub-secTit {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--hover-primary-color);
}

@media (max-width: 768px) {
  .mini-sub-secTit {
    line-height: auto;
  }
}

.mini-sub-content {
  font-size: 16px;
  line-height: auto;
  font-weight: 500;
}

.copyright {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  font-family: "Oswald", sans-serif;
}

.btn-primary {
  width: 104px;
  height: 32px;
  border-radius: 16px;
  background-image: var(--linear-right-color);
  color: var(--white-color);
  font-size: 16px;
  line-height: auto;
  font-weight: 500;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.btn-primary:hover {
  background-image: none;
  background-color: var(--hover-primary-color);
}

.btn-white {
  width: 88px;
  height: 32px;
  border-radius: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  background-color: var(--white-color);
  color: #1c1c1c;
  cursor: pointer;
}

.btn-transparent {
  width: 88px;
  height: 32px;
  border-radius: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  background-color: transparent;
  color: #ffffff50;
  border: 1px solid #ffffff50;
  cursor: pointer;
}

.btn-more {
  width: 103px;
  height: 32px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  cursor: pointer;
}

.tag {
  width: 77px;
  height: 28px;
  color: var(--white-color);
}

.tag.brown {
  background-color: #8c7549;
}

.tag.purple {
  background-color: #595dae;
}

/* Hamburger Start*/
.hamburger-btn {
  display: none;
}
@media (max-width: 768px) {
  .hamburger-btn {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 4px;
  background-color: var(--hover-primary-color);
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}
/* Hamburger End*/

/* header */
header {
  background-image: var(--linear-right-color);
}

header nav {
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logo {
  width: 240px;
  height: 40px;
}

header nav .nav-links {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 768px) {
  header nav .nav-links {
    position: absolute;
    top: 96px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: var(--linear-top-color);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  header nav .nav-links.active {
    max-height: 100vh;
    opacity: 1;
    padding: 56px 48px;
  }
}

header nav .nav-links > li {
  display: inline-block;
}

@media (max-width: 768px) {
  header nav .nav-links > li {
    display: block;
  }
  header nav .nav-links > li:nth-child(even) {
    display: none;
  }
}
